
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background: #000000;
    color: #fff;
    padding: 1rem 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2rem;
}

.search-container {
    display: flex;
    align-items: center;
}

#searchInput {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-icon {
    padding: 0.5rem 1rem;
    background: #fff;
    color: #ff6f61;
    font-size: 1rem;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-icon:hover {
    background: #f4f4f4;
}


.main {
    padding: 2rem 0;
}

.cocktail-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.cocktail-card {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
    padding: 1rem;
}

.cocktail-card:hover {
    transform: scale(1.05);
}

.cocktail-card img {
    width: 100%;
    border-bottom: 2px solid #ff6f61;
    border-radius: 5px 5px 0 0;
}

.cocktail-card h3 {
    margin: 1rem 0;
    font-size: 1.2rem;
    color: #ff6f61;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 2rem;
    border-radius: 5px;
    width: 90%;
    max-width: 600px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
}

.close-button:hover {
    color: #b61507;
}
